* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #root, #app_root {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.split {
    width: 50%;
    overflow-y: auto;
}

.left {
    background-color: #f0f0f0;
}

.right {
    background-color: #d0d0d0;
}

.content {
    /* height: 200vh; */
    /* This is just to create enough content to scroll */
    padding: 20px;
}